@reference "../../app/globals.css";

.react-flow__controls-button {
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
}

.dark .react-flow__controls-button {
  background-color: rgb(31 41 55) !important;
  border-color: rgb(31 41 55) !important;
}

.dark .react-flow__controls-button:hover {
  background-color: rgb(55 65 81) !important;
}

.react-flow__controls svg {
  fill: currentColor;
}

.react-flow__attribution {
  background-color: transparent !important;
}

/* Hide default resize handles */
.react-flow__resize-control.handle:not(.custom-resize-handle) {
  display: none;
}

/* Hide default selection bounding box */
.react-flow__resize-control.line {
  display: none;
}

.react-flow__handle-left {
  top: 50%;
  left: 0;
  transform: translate(-60%, -50%);
}

.react-flow__handle-right {
  top: 50%;
  right: 0;
  transform: translate(60%, -50%);
}
